In [1]:
num=6
if num%2 ==0:
    print("even")
else:
    print("odd")

even

In [9]:
print("even") if num%2==0 else print("odd")

even

In [19]:
x=10
result="positive" if x >0 else "negative"
print(result)

positive

In [17]:
age=18
category="adult" if age > 18 else "minor" 
print(category)

minor

In [25]:
x=10
result="positive" if num > 0 else "negative" if num < 0 else "zero"
print(result)

positive

In [29]:
#list comprehension
l=[1,9,2,10,56,89]
[2*x for x in l]

[2, 18, 4, 20, 112, 178]

In [31]:
l=[1,9,2,10,56,89]
[x for x in l if x%2 == 0]

[2, 10, 56]

In [35]:
#print odd numbers
[x for x in l if x%2 != 0]

[1, 9, 89]

In [37]:
d1 = {"john":[90,70,76,98], "roy":[89,67,90,87], "aditya":[90,98,67,87]}
print(d1)

{'john': [90, 70, 76, 98], 'roy': [89, 67, 90, 87], 'aditya': [90, 98, 67, 87]}

In [41]:
{k:sum(v)/len(v) for k,v in d1.items()}

{'john': 83.5, 'roy': 83.25, 'aditya': 85.5}

# functions
# write a user defined function to compute average

In [46]:
def mean_value(given_list):
    total = sum(given_list)
    average_value = total/len(given_list)
    return average_value

In [50]:
#calling a function
l=[1,2,3,4,5,6,7,8,9,10]
mean_value(l)

5.5

In [79]:
#write a user defined funtion to greet with good morning with your name
def greet_good_morning():
    name = "Tharangini"  
    print(f"Good Morning, {name}!")

Good Morning, Tharangini!

In [81]:
greet_good_morning( )

Good Morning, Tharangini!